body {
    background-color: #E7E0C9;
    margin: auto;
    width: 50%;
    padding: 10px;
    
  }
  header {
      background-color: #11324D;
      padding: 10px;
      font-family: "Lucida Console", "Courier New", monospace; 
      color: #C1CFC0;
      text-align: center;
  }
  main{
    color:black
  }
  h2 {
    color: #6B7AA1;
    font-family: Arial, Helvetica, sans-serif;
  }
  ul {
    color:#6B7AA1;
    font-family: Arial, Helvetica, sans-serif;
  }
  footer{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #11324D;
    padding: 10px;
    color: #C1CFC0;
    position: absolute;
    height: 50px;
    text-align: center;
    bottom: 0;
    left: auto;
    right: auto;
    width: 50%;
    
  }
  #mainpicture{
    height: 250px;
    float: right;
    margin-right: 50px;
  }
