@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

body{
    background-color: #90B494;
    width: 60%;
    margin: auto;
    font-size: 18px;
}
header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #33673B;
    padding: 5px;
}
main{
    color: #19231A;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Akronim', cursive;
    font-size: 3.5em;
    color:#C46200;
    padding: 10px;
    margin: 3px;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color:#fff
}
.logo{
    align-items: center;
}
.navigation li:first-child{
    display: block;   
}
.navigation{
    list-style: none;
    text-align: center;
    background-color: #19231A;
    color: #fff;
    padding-left: 0;
}
.navigation li{
    display: none;
    padding: 5px 0 5px 0;
    
}
.navigation li:hover{
    background-color: #C46200;
    width: 100%;
    
}
.navigation a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    justify-content: space-evenly;
}
.responsive li{
    display:block
}
.content{
    padding-left: 0;
    background-color:#33673B;
    
}
.content li{
    list-style: none;
    text-align: center;
    padding: 5px;
}
.content a{
    text-decoration: none;
    color: #fff;
}
.content li:hover{
    background-color: #fff;
    color: #33673B;
}
.content a:hover{
    color: #33673B;
}
footer{
    background-color: #33673B;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .75em;
    bottom: 0;
    position: absolute;
    width: 60%;
}
footer a{
    text-decoration: none;
    color: #fff;
}
