html{
    overflow-x: hidden!important;

}
body{
    background-color: #adbbcc;
}
h1{
    margin: 10px auto;

}
img{
    margin: 10px auto;
    width: 200px;
}
section{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
#root{
    display: flex;
    flex-direction: column;

}
.text,h2,h1{
    text-align: center;
}
.card{
    background-color: #7193c4;
    margin-bottom: 15px;
}
/* img{
    width: 95%
} */