body{
    margin: 0 auto;
    width: 100%;
}
h1{
    text-align: center;
}
img{
    display: flex;
    margin: 100px auto 100px auto;
    filter: blur(0em);
    transition: filter 0.5s;
}
img[data-src] {
    filter: blur(0.2em);
}
