@media only screen and (min-width: 60em){
main{
    width: 60%;
}
 .navigation{
    display:flex;
}
 .navigation li:first-child{
    display: none;
}
.navigation li{
    display:block;
    flex: 1 1 100%;
} 
.logo{
    float: left;
    padding: 5px;
    margin:3px;
    margin-left: 50px;
}
#forecast{
    display: block;
}
#weather-summary{
    background: rgba(1, 68, 33, .6);
    padding: 5px;
    float:left;
    position: absolute;
    left:50px;
    top: 25px;
    width: 40%;
    font-size: .8em;
}
#hero-subheading, #weather-summary-list span{
    color: #fff;
}

}