@media only screen and (min-width: 768px) {
    nav ul {
        display: flex;
        
    }
    nav li{
        display: flex;
        flex: 1 1 100%;
        list-style-type: none;
        flex-direction: column;
        text-align: center;
    }
    nav ul li a{
        text-decoration: none;
    }

}